
#ImgLoader-loading {
  top:35%;
  left:36%;
  color: #fff;
  font-size: 14px;
  line-height: 0.5;
  width: 80px;
  background: #000;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  position:relative;
  z-index:1000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#ImgLoader-loading > .spinner {
  height: 10px;
  width: 10px;
  margin: 0 auto 10px auto;
  border: 10px solid #777;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  /* Webkit */
  -webkit-animation-name: loading;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;

  /* Firefox 4+ */
  -moz-animation-name: loading;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 1s;
}

@-webkit-keyframes loading {
  0% {
    border-top: 10px solid #000;
  }
  25% {
    border-right: 10px solid #000;
  }
  50% {
    border-bottom: 10px solid #000;
  }
  75% {
    border-left: 10px solid #000;
  }
  100% {
    border-top: 10px solid #888;
    border-left: 10px solid #888;
  }
}

#ImgLoader-loading > .progress {
  margin: 10px;
  text-align: center;
}

